/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: SOURMASH_SKETCH {
        ext.args   = "dna --param-string 'scaled=1000,k=51,abund'"
        // ext.prefix = "${params.name}"

        publishDir = [
            path: { "${params.outdir}/sketch" },
            mode: params.publish_dir_mode,
            pattern: '*.{yml,sig}'

        ]
    }

    withName: SOURMASH_GATHER {
        ext.args   = ''
        // prefix = "${name}"

        publishDir = [
            path: { "${params.outdir}/gather"},
            mode: params.publish_dir_mode,
            pattern: '*.{yml,csv.gz}'
        ]
    }

    withName: SOURMASH_TAX_METAGENOME {
        ext.args   = ''
        // prefix = "${name}"

        publishDir = [
            path: { "${params.outdir}/tax_metagenome"},
            mode: params.publish_dir_mode,
            pattern: '*.{yml,tsv,txt,csv}'
        ]
    }

    withName: SOURMASH_TAX_ANNOTATE {
        ext.args   = ''
        // prefix = "${name}"

        publishDir = [
            path: { "${params.outdir}/tax_annotate"},
            mode: params.publish_dir_mode,
            pattern: '*.{csv}'
        ]
    }

    withName: KRONA_KTIMPORTTEXT {
        ext.args   = ''
        // prefix = "${name}"

        publishDir = [
            path: { "${params.outdir}/krona_chart"},
            mode: params.publish_dir_mode,
            pattern: '*.{html}'
        ]
    }
}