
params {
    reads           =  "/media/bio03/DATA/quyen/INTERNSHIP/nextflow/sourmash_official/samplesheet/PRJNA530984.csv"
    database        =  "/media/bio03/DATA/quyen/INTERNSHIP/sourmash/database/GTDB_R07-RS207_allgenomes/gtdb-rs207.genomic.k51.zip"
    taxonomysheet   =  "/media/bio03/DATA/quyen/INTERNSHIP/sourmash/database/Taxonomy_spreadsheet/gtdb-rs207.taxonomy.sqldb"
    outdir          =  "/media/bio03/DATA/quyen/INTERNSHIP/nextflow/sourmash_official/sourmash_results"
    publish_dir_mode = "copy"

}
singularity.cacheDir="/media/bio03/DATA/quyen/INTERNSHIP/nextflow/sourmash_official/singularity"


// nextflow run nf-core/taxprofiler -profile test,<docker/singularity> --outdir <OUTDIR>